<div class="container">
  <h1 class="text-center pt-3 pb-4">Нечіткі відношення в моделі для задачі консалтингу</h1>
  <h3 class="pt-3 pb-5">Застосування консультаційних систем може бути корисним для кадрових агентств.</h3>

  <p class="">Успіх вибору професії у великій мірі залежить від вдалого поєднання характеристик пошукача професії і
    характеристик
    професії та пов’язаної з нею відповідної роботи. Відношення між пошукачем і роботодавцем - основний фактор вільного
    ринку. Перед пошукачем і роботодавцем стоять різні задачі. Дуже важливо знати індивідуальні особливості потреб і
    вимог
    пошукача та роботодавця. Очевидно, що всі типи вимог в експертну систему включити неможливо.</p>
  <p>Розглянемо задачу вибору професій на основі моделювання психо-фізіологічних характеристик, описану в [1]. Модель
    знань
    містить два нечіткі відношення, які формуються на основі двох множин X i Y. Множина X описує множину спеціальностей,
    з
    яких проводиться відбір. Y описує множину психо-фізіологічних характеристик кандидатів.. Результуюча множина Z
    описує
    множину кандидатів на навчання.</p>
  <p> Обрано 5 спеціальностей: х1- менеджер; х2- програміст; х3-шофер; х4-секретар –референт; х5-перекладач.</p>
  <p>Обрано 10 спільних характеристик для професій: у1- швидкість та гнучкість мислення; у2- вміння швидко приймати
    рішення;у3- стійкість та концентрація уваги; у4- зорова пам”ять; у5-швидкість реакції; у6-рухлива пам”ять;
    у7-фізична
    виносливість; у8-координація рухів; у9-емоційно-вольова стійкість; у10-відповідальність. Є 5-ть кандидатів, які
    хочуть
    отримати вище подані професії.
  </p>

</div>
